In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ny_demographics.csv')
df = df.copy()
print(df.shape)
df.head()

(744, 96)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,36,1,New York,Albany County,1,304204,147076,157128,15286,...,4531,6858,2604,4254,7100,2104,4996,38.5,36.8,40.0
1,50,36,1,New York,Albany County,2,304208,147076,157132,15288,...,4532,6858,2605,4253,7100,2104,4996,38.5,36.8,40.0
2,50,36,1,New York,Albany County,3,304086,147026,157060,15275,...,4516,6851,2620,4231,7162,2128,5034,38.5,36.8,40.0
3,50,36,1,New York,Albany County,4,304596,147456,157140,15161,...,4456,6770,2633,4137,7238,2179,5059,38.4,36.6,40.1
4,50,36,1,New York,Albany County,5,305723,147934,157789,15233,...,4296,6580,2545,4035,7410,2280,5130,38.1,36.4,39.8

In [4]:
# map acutal year to year value 
# note: based on https://www.census.gov/quickfacts/nassaucountynewyork
# and given that there are numerical years 1 through 12 with data from 2010 to 2019
# it seems as if years 1 and 2 are both 2010

# dropping year 1
df = df[df['YEAR'] != 1]
df['YEAR'] = df['YEAR'].replace([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
                                [2010, 2011, 2012, 2013, 2014, 2015,
                                 2016, 2017, 2018, 2019, 2020])

In [5]:
# get just nassau and suffolk counties
long_island = df[(df['CTYNAME'] == 'Nassau County') | (df['CTYNAME'] == 'Suffolk County')]
long_island

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
349,50,36,59,New York,Nassau County,2010,1339880,648142,691738,73899,...,22161,34391,13405,20986,34072,11620,22452,41.2,39.5,42.7
350,50,36,59,New York,Nassau County,2011,1341669,649155,692514,74132,...,22013,34320,13392,20928,34441,11759,22682,41.2,39.5,42.7
351,50,36,59,New York,Nassau County,2012,1346223,651868,694355,73994,...,21652,33722,13160,20562,35474,12203,23271,41.3,39.6,42.9
352,50,36,59,New York,Nassau County,2013,1349616,654133,695483,73896,...,21371,33003,12974,20029,36422,12508,23914,41.5,39.6,43.1
353,50,36,59,New York,Nassau County,2014,1352193,655740,696453,73638,...,21338,31962,12601,19361,37109,12735,24374,41.6,39.7,43.2
354,50,36,59,New York,Nassau County,2015,1354705,657419,697286,74361,...,21330,30946,12211,18735,37889,13077,24812,41.6,39.7,43.3
355,50,36,59,New York,Nassau County,2016,1354840,657830,697010,74449,...,21276,30097,11869,18228,38417,13332,25085,41.7,39.8,43.4
356,50,36,59,New York,Nassau County,2017,1355952,659073,696879,74173,...,21266,29794,11775,18019,38776,13474,25302,41.7,39.9,43.4
357,50,36,59,New York,Nassau County,2018,1357293,660672,696621,74238,...,21911,29553,11798,17755,38717,13407,25310,41.7,39.9,43.4
358,50,36,59,New York,Nassau County,2019,1357534,661241,696293,74390,...,22928,29709,11930,17779,38525,13396,25129,41.7,40.0,43.4
359,50,36,59,New York,Nassau County,2020,1356924,661741,695183,74099,...,23610,29790,11997,17793,38422,13470,24952,41.8,40.1,43.5
613,50,36,103,New York,Suffolk County,2010,1493116,734557,758559,85968,...,20838,29171,11792,17379,27825,8812,19013,39.8,38.4,41.1
614,50,36,103,New York,Suffolk County,2011,1494339,735226,759113,85991,...,20783,29292,11868,17424,28116,8942,19174,39.9,38.4,41.1
615,50,36,103,New York,Suffolk County,2012,1498892,737743,761149,84694,...,20793,29558,12103,17455,28959,9316,19643,40.2,38.7,41.5
616,50,36,103,New York,Suffolk County,2013,1496982,737045,759937,83333,...,20868,29734,12271,17463,30119,9838,20281,40.6,39.0,41.9
617,50,36,103,New York,Suffolk County,2014,1497346,737417,759929,82075,...,21114,29720,12217,17503,31005,10333,20672,40.8,39.2,42.3
618,50,36,103,New York,Suffolk County,2015,1495525,736557,758968,81645,...,21629,29512,12145,17367,31847,10756,21091,41.1,39.5,42.6
619,50,36,103,New York,Suffolk County,2016,1491967,734415,757552,81124,...,22174,29291,12134,17157,32829,11194,21635,41.3,39.7,42.8
620,50,36,103,New York,Suffolk County,2017,1486406,731562,754844,80066,...,22831,29284,12107,17177,33779,11633,22146,41.5,39.9,43.1
621,50,36,103,New York,Suffolk County,2018,1483358,730253,753105,79241,...,23737,29495,12169,17326,34440,11943,22497,41.7,40.1,43.3
622,50,36,103,New York,Suffolk County,2019,1480830,729041,751789,79408,...,25352,30048,12489,17559,34954,12198,22756,41.9,40.3,43.4
623,50,36,103,New York,Suffolk County,2020,1476601,726935,749666,79139,...,26293,30808,12838,17970,35171,12355,22816,42.0,40.4,43.6

In [6]:
# nassau county
nassau = long_island[(long_island['CTYNAME'] == 'Nassau County')]
nassau.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
349,50,36,59,New York,Nassau County,2010,1339880,648142,691738,73899,...,22161,34391,13405,20986,34072,11620,22452,41.2,39.5,42.7
350,50,36,59,New York,Nassau County,2011,1341669,649155,692514,74132,...,22013,34320,13392,20928,34441,11759,22682,41.2,39.5,42.7
351,50,36,59,New York,Nassau County,2012,1346223,651868,694355,73994,...,21652,33722,13160,20562,35474,12203,23271,41.3,39.6,42.9
352,50,36,59,New York,Nassau County,2013,1349616,654133,695483,73896,...,21371,33003,12974,20029,36422,12508,23914,41.5,39.6,43.1
353,50,36,59,New York,Nassau County,2014,1352193,655740,696453,73638,...,21338,31962,12601,19361,37109,12735,24374,41.6,39.7,43.2

In [7]:
# suffolk county
suffolk = long_island[(long_island['CTYNAME'] == 'Suffolk County')]
suffolk.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
613,50,36,103,New York,Suffolk County,2010,1493116,734557,758559,85968,...,20838,29171,11792,17379,27825,8812,19013,39.8,38.4,41.1
614,50,36,103,New York,Suffolk County,2011,1494339,735226,759113,85991,...,20783,29292,11868,17424,28116,8942,19174,39.9,38.4,41.1
615,50,36,103,New York,Suffolk County,2012,1498892,737743,761149,84694,...,20793,29558,12103,17455,28959,9316,19643,40.2,38.7,41.5
616,50,36,103,New York,Suffolk County,2013,1496982,737045,759937,83333,...,20868,29734,12271,17463,30119,9838,20281,40.6,39.0,41.9
617,50,36,103,New York,Suffolk County,2014,1497346,737417,759929,82075,...,21114,29720,12217,17503,31005,10333,20672,40.8,39.2,42.3

In [9]:
# get column names
long_island.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'YEAR', 'POPESTIMATE',
       'POPEST_MALE', 'POPEST_FEM', 'UNDER5_TOT', 'UNDER5_MALE', 'UNDER5_FEM',
       'AGE513_TOT', 'AGE513_MALE', 'AGE513_FEM', 'AGE1417_TOT',
       'AGE1417_MALE', 'AGE1417_FEM', 'AGE1824_TOT', 'AGE1824_MALE',
       'AGE1824_FEM', 'AGE16PLUS_TOT', 'AGE16PLUS_MALE', 'AGE16PLUS_FEM',
       'AGE18PLUS_TOT', 'AGE18PLUS_MALE', 'AGE18PLUS_FEM', 'AGE1544_TOT',
       'AGE1544_MALE', 'AGE1544_FEM', 'AGE2544_TOT', 'AGE2544_MALE',
       'AGE2544_FEM', 'AGE4564_TOT', 'AGE4564_MALE', 'AGE4564_FEM',
       'AGE65PLUS_TOT', 'AGE65PLUS_MALE', 'AGE65PLUS_FEM', 'AGE04_TOT',
       'AGE04_MALE', 'AGE04_FEM', 'AGE59_TOT', 'AGE59_MALE', 'AGE59_FEM',
       'AGE1014_TOT', 'AGE1014_MALE', 'AGE1014_FEM', 'AGE1519_TOT',
       'AGE1519_MALE', 'AGE1519_FEM', 'AGE2024_TOT', 'AGE2024_MALE',
       'AGE2024_FEM', 'AGE2529_TOT', 'AGE2529_MALE', 'AGE2529_FEM',
       'AGE3034_TOT', 'AGE3034_MALE', 'AGE3034_FEM', 'AGE3539_TOT',
       'AGE3539_MALE', 'AGE3539_FEM', 'AGE4044_TOT', 'AGE4044_MALE',
       'AGE4044_FEM', 'AGE4549_TOT', 'AGE4549_MALE', 'AGE4549_FEM',
       'AGE5054_TOT', 'AGE5054_MALE', 'AGE5054_FEM', 'AGE5559_TOT',
       'AGE5559_MALE', 'AGE5559_FEM', 'AGE6064_TOT', 'AGE6064_MALE',
       'AGE6064_FEM', 'AGE6569_TOT', 'AGE6569_MALE', 'AGE6569_FEM',
       'AGE7074_TOT', 'AGE7074_MALE', 'AGE7074_FEM', 'AGE7579_TOT',
       'AGE7579_MALE', 'AGE7579_FEM', 'AGE8084_TOT', 'AGE8084_MALE',
       'AGE8084_FEM', 'AGE85PLUS_TOT', 'AGE85PLUS_MALE', 'AGE85PLUS_FEM',
       'MEDIAN_AGE_TOT', 'MEDIAN_AGE_MALE', 'MEDIAN_AGE_FEM'],
      dtype='object')

In [ ]:
# TODO - look at population cohort trends from 2010 to 2020
# add in deaths
# estimate number of people leaving
# estimate future deaths