In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ny_demographics.csv')
df = df.copy()
print(df.shape)
df.head()

(744, 96)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,36,1,New York,Albany County,1,304204,147076,157128,15286,...,4531,6858,2604,4254,7100,2104,4996,38.5,36.8,40.0
1,50,36,1,New York,Albany County,2,304208,147076,157132,15288,...,4532,6858,2605,4253,7100,2104,4996,38.5,36.8,40.0
2,50,36,1,New York,Albany County,3,304086,147026,157060,15275,...,4516,6851,2620,4231,7162,2128,5034,38.5,36.8,40.0
3,50,36,1,New York,Albany County,4,304596,147456,157140,15161,...,4456,6770,2633,4137,7238,2179,5059,38.4,36.6,40.1
4,50,36,1,New York,Albany County,5,305723,147934,157789,15233,...,4296,6580,2545,4035,7410,2280,5130,38.1,36.4,39.8

In [3]:
# map acutal year to year value 
# note: based on https://www.census.gov/quickfacts/nassaucountynewyork
# and given that there are numerical years 1 through 12 with data from 2010 to 2019
# it seems as if years 1 and 2 are both 2010

# dropping year 1
df = df[df['YEAR'] != 1]
df['YEAR'] = df['YEAR'].replace([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
                                [2010, 2011, 2012, 2013, 2014, 2015,
                                 2016, 2017, 2018, 2019, 2020])

In [4]:
# get just nassau and suffolk counties
long_island = df[(df['CTYNAME'] == 'Nassau County') | (df['CTYNAME'] == 'Suffolk County')]
long_island

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
349,50,36,59,New York,Nassau County,2010,1339880,648142,691738,73899,...,22161,34391,13405,20986,34072,11620,22452,41.2,39.5,42.7
350,50,36,59,New York,Nassau County,2011,1341669,649155,692514,74132,...,22013,34320,13392,20928,34441,11759,22682,41.2,39.5,42.7
351,50,36,59,New York,Nassau County,2012,1346223,651868,694355,73994,...,21652,33722,13160,20562,35474,12203,23271,41.3,39.6,42.9
352,50,36,59,New York,Nassau County,2013,1349616,654133,695483,73896,...,21371,33003,12974,20029,36422,12508,23914,41.5,39.6,43.1
353,50,36,59,New York,Nassau County,2014,1352193,655740,696453,73638,...,21338,31962,12601,19361,37109,12735,24374,41.6,39.7,43.2
354,50,36,59,New York,Nassau County,2015,1354705,657419,697286,74361,...,21330,30946,12211,18735,37889,13077,24812,41.6,39.7,43.3
355,50,36,59,New York,Nassau County,2016,1354840,657830,697010,74449,...,21276,30097,11869,18228,38417,13332,25085,41.7,39.8,43.4
356,50,36,59,New York,Nassau County,2017,1355952,659073,696879,74173,...,21266,29794,11775,18019,38776,13474,25302,41.7,39.9,43.4
357,50,36,59,New York,Nassau County,2018,1357293,660672,696621,74238,...,21911,29553,11798,17755,38717,13407,25310,41.7,39.9,43.4
358,50,36,59,New York,Nassau County,2019,1357534,661241,696293,74390,...,22928,29709,11930,17779,38525,13396,25129,41.7,40.0,43.4
359,50,36,59,New York,Nassau County,2020,1356924,661741,695183,74099,...,23610,29790,11997,17793,38422,13470,24952,41.8,40.1,43.5
613,50,36,103,New York,Suffolk County,2010,1493116,734557,758559,85968,...,20838,29171,11792,17379,27825,8812,19013,39.8,38.4,41.1
614,50,36,103,New York,Suffolk County,2011,1494339,735226,759113,85991,...,20783,29292,11868,17424,28116,8942,19174,39.9,38.4,41.1
615,50,36,103,New York,Suffolk County,2012,1498892,737743,761149,84694,...,20793,29558,12103,17455,28959,9316,19643,40.2,38.7,41.5
616,50,36,103,New York,Suffolk County,2013,1496982,737045,759937,83333,...,20868,29734,12271,17463,30119,9838,20281,40.6,39.0,41.9
617,50,36,103,New York,Suffolk County,2014,1497346,737417,759929,82075,...,21114,29720,12217,17503,31005,10333,20672,40.8,39.2,42.3
618,50,36,103,New York,Suffolk County,2015,1495525,736557,758968,81645,...,21629,29512,12145,17367,31847,10756,21091,41.1,39.5,42.6
619,50,36,103,New York,Suffolk County,2016,1491967,734415,757552,81124,...,22174,29291,12134,17157,32829,11194,21635,41.3,39.7,42.8
620,50,36,103,New York,Suffolk County,2017,1486406,731562,754844,80066,...,22831,29284,12107,17177,33779,11633,22146,41.5,39.9,43.1
621,50,36,103,New York,Suffolk County,2018,1483358,730253,753105,79241,...,23737,29495,12169,17326,34440,11943,22497,41.7,40.1,43.3
622,50,36,103,New York,Suffolk County,2019,1480830,729041,751789,79408,...,25352,30048,12489,17559,34954,12198,22756,41.9,40.3,43.4
623,50,36,103,New York,Suffolk County,2020,1476601,726935,749666,79139,...,26293,30808,12838,17970,35171,12355,22816,42.0,40.4,43.6

In [5]:
# nassau county
nassau = long_island[(long_island['CTYNAME'] == 'Nassau County')]
nassau.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
349,50,36,59,New York,Nassau County,2010,1339880,648142,691738,73899,...,22161,34391,13405,20986,34072,11620,22452,41.2,39.5,42.7
350,50,36,59,New York,Nassau County,2011,1341669,649155,692514,74132,...,22013,34320,13392,20928,34441,11759,22682,41.2,39.5,42.7
351,50,36,59,New York,Nassau County,2012,1346223,651868,694355,73994,...,21652,33722,13160,20562,35474,12203,23271,41.3,39.6,42.9
352,50,36,59,New York,Nassau County,2013,1349616,654133,695483,73896,...,21371,33003,12974,20029,36422,12508,23914,41.5,39.6,43.1
353,50,36,59,New York,Nassau County,2014,1352193,655740,696453,73638,...,21338,31962,12601,19361,37109,12735,24374,41.6,39.7,43.2

In [6]:
# suffolk county
suffolk = long_island[(long_island['CTYNAME'] == 'Suffolk County')]
suffolk.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
613,50,36,103,New York,Suffolk County,2010,1493116,734557,758559,85968,...,20838,29171,11792,17379,27825,8812,19013,39.8,38.4,41.1
614,50,36,103,New York,Suffolk County,2011,1494339,735226,759113,85991,...,20783,29292,11868,17424,28116,8942,19174,39.9,38.4,41.1
615,50,36,103,New York,Suffolk County,2012,1498892,737743,761149,84694,...,20793,29558,12103,17455,28959,9316,19643,40.2,38.7,41.5
616,50,36,103,New York,Suffolk County,2013,1496982,737045,759937,83333,...,20868,29734,12271,17463,30119,9838,20281,40.6,39.0,41.9
617,50,36,103,New York,Suffolk County,2014,1497346,737417,759929,82075,...,21114,29720,12217,17503,31005,10333,20672,40.8,39.2,42.3

In [7]:
# get column names
long_island.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'YEAR', 'POPESTIMATE',
       'POPEST_MALE', 'POPEST_FEM', 'UNDER5_TOT', 'UNDER5_MALE', 'UNDER5_FEM',
       'AGE513_TOT', 'AGE513_MALE', 'AGE513_FEM', 'AGE1417_TOT',
       'AGE1417_MALE', 'AGE1417_FEM', 'AGE1824_TOT', 'AGE1824_MALE',
       'AGE1824_FEM', 'AGE16PLUS_TOT', 'AGE16PLUS_MALE', 'AGE16PLUS_FEM',
       'AGE18PLUS_TOT', 'AGE18PLUS_MALE', 'AGE18PLUS_FEM', 'AGE1544_TOT',
       'AGE1544_MALE', 'AGE1544_FEM', 'AGE2544_TOT', 'AGE2544_MALE',
       'AGE2544_FEM', 'AGE4564_TOT', 'AGE4564_MALE', 'AGE4564_FEM',
       'AGE65PLUS_TOT', 'AGE65PLUS_MALE', 'AGE65PLUS_FEM', 'AGE04_TOT',
       'AGE04_MALE', 'AGE04_FEM', 'AGE59_TOT', 'AGE59_MALE', 'AGE59_FEM',
       'AGE1014_TOT', 'AGE1014_MALE', 'AGE1014_FEM', 'AGE1519_TOT',
       'AGE1519_MALE', 'AGE1519_FEM', 'AGE2024_TOT', 'AGE2024_MALE',
       'AGE2024_FEM', 'AGE2529_TOT', 'AGE2529_MALE', 'AGE2529_FEM',
       'AGE3034_TOT', 'AGE3034_MALE', 'AGE3034_FEM', 'AGE3539_TOT',
       'AGE3539_MALE', 'AGE3539_FEM', 'AGE4044_TOT', 'AGE4044_MALE',
       'AGE4044_FEM', 'AGE4549_TOT', 'AGE4549_MALE', 'AGE4549_FEM',
       'AGE5054_TOT', 'AGE5054_MALE', 'AGE5054_FEM', 'AGE5559_TOT',
       'AGE5559_MALE', 'AGE5559_FEM', 'AGE6064_TOT', 'AGE6064_MALE',
       'AGE6064_FEM', 'AGE6569_TOT', 'AGE6569_MALE', 'AGE6569_FEM',
       'AGE7074_TOT', 'AGE7074_MALE', 'AGE7074_FEM', 'AGE7579_TOT',
       'AGE7579_MALE', 'AGE7579_FEM', 'AGE8084_TOT', 'AGE8084_MALE',
       'AGE8084_FEM', 'AGE85PLUS_TOT', 'AGE85PLUS_MALE', 'AGE85PLUS_FEM',
       'MEDIAN_AGE_TOT', 'MEDIAN_AGE_MALE', 'MEDIAN_AGE_FEM'],
      dtype='object')

In [8]:
# TODO - look at population cohort trends from 2010 to 2020
# male, female and total by county
# add in deaths
# estimate number of people leaving
# estimate future deaths / death rate

In [9]:
# separating nassau male
nassau_male = nassau[['YEAR', 'CTYNAME', 'AGE04_MALE', 'AGE59_MALE',
                      'AGE1014_MALE', 'AGE1519_MALE', 'AGE2024_MALE',
                      'AGE2529_MALE', 'AGE3034_MALE', 'AGE3539_MALE', 
                      'AGE4044_MALE', 'AGE4549_MALE', 'AGE5054_MALE',
                      'AGE5559_MALE', 'AGE6064_MALE', 'AGE6569_MALE',
                      'AGE7074_MALE', 'AGE7579_MALE', 'AGE8084_MALE',
                      'AGE85PLUS_MALE']]
nassau_male.head(11)

,YEAR,CTYNAME,AGE04_MALE,AGE59_MALE,AGE1014_MALE,AGE1519_MALE,AGE2024_MALE,AGE2529_MALE,AGE3034_MALE,AGE3539_MALE,AGE4044_MALE,AGE4549_MALE,AGE5054_MALE,AGE5559_MALE,AGE6064_MALE,AGE6569_MALE,AGE7074_MALE,AGE7579_MALE,AGE8084_MALE,AGE85PLUS_MALE
349,2010,Nassau County,37724,42776,47984,48729,41117,36407,35124,38857,46360,52661,52212,45131,37904,25623,18719,15789,13405,11620
350,2011,Nassau County,37843,42685,47802,48874,41202,36774,35324,38688,46126,52467,52319,45333,38235,25892,18770,15670,13392,11759
351,2012,Nassau County,37792,42328,46986,49300,41739,37730,35830,37809,45252,51377,52809,46081,39996,27018,19035,15423,13160,12203
352,2013,Nassau County,37876,42023,46135,49361,42082,38570,36386,37493,44196,50308,52576,47203,39766,29659,19638,15379,12974,12508
353,2014,Nassau County,37514,41719,45669,48391,43039,39439,36919,37777,43106,48873,52345,48066,40091,31147,20830,15479,12601,12735
354,2015,Nassau County,38001,41121,45123,47436,44075,39752,37511,38075,41979,47365,52202,48845,40747,32690,21694,15515,12211,13077
355,2016,Nassau County,38084,40798,44460,46452,44360,40218,37451,38574,40887,46421,51298,49774,41555,34027,22491,15779,11869,13332
356,2017,Nassau County,38011,40883,43956,45762,44376,40578,38041,39082,39973,45757,50155,50073,42258,35496,23468,15955,11775,13474
357,2018,Nassau County,38040,41116,43634,44934,44514,40696,38559,39587,39855,44789,49119,49881,43328,35232,25646,16537,11798,13407
358,2019,Nassau County,38129,40984,43231,44458,43555,41588,38597,40056,40383,43673,47684,49583,44185,35391,26999,17419,11930,13396
359,2020,Nassau County,37916,41200,43106,43859,42782,42136,39005,40335,40650,42662,46291,49375,44631,36026,28249,18051,11997,13470

In [10]:
# separating nassau female
nassau_female = nassau[['YEAR', 'CTYNAME', 'AGE04_FEM', 'AGE59_FEM',
                      'AGE1014_FEM', 'AGE1519_FEM', 'AGE2024_FEM',
                      'AGE2529_FEM', 'AGE3034_FEM', 'AGE3539_FEM', 
                      'AGE4044_FEM', 'AGE4549_FEM', 'AGE5054_FEM',
                      'AGE5559_FEM', 'AGE6064_FEM', 'AGE6569_FEM',
                      'AGE7074_FEM', 'AGE7579_FEM', 'AGE8084_FEM',
                      'AGE85PLUS_FEM']]
nassau_female.head(11)

,YEAR,CTYNAME,AGE04_FEM,AGE59_FEM,AGE1014_FEM,AGE1519_FEM,AGE2024_FEM,AGE2529_FEM,AGE3034_FEM,AGE3539_FEM,AGE4044_FEM,AGE4549_FEM,AGE5054_FEM,AGE5559_FEM,AGE6064_FEM,AGE6569_FEM,AGE7074_FEM,AGE7579_FEM,AGE8084_FEM,AGE85PLUS_FEM
349,2010,Nassau County,36175,40642,45655,45369,38281,34851,36206,41746,50717,57297,55870,48302,41038,29974,24016,22161,20986,22452
350,2011,Nassau County,36289,40527,45479,45625,38454,35133,36313,41408,50422,57103,56045,48513,41411,30199,23970,22013,20928,22682
351,2012,Nassau County,36202,40085,44709,46262,39215,35857,36774,40006,49380,55938,56658,49337,43262,31148,24037,21652,20562,23271
352,2013,Nassau County,36020,39902,43871,46228,39771,36787,37112,39460,47725,54825,56456,50712,42995,33654,24651,21371,20029,23914
353,2014,Nassau County,36124,39711,43116,45654,40877,37534,37502,39276,46164,53156,56208,51853,43564,34697,25944,21338,19361,24374
354,2015,Nassau County,36360,39157,42719,44915,41978,37950,37847,39526,44545,51461,56062,52629,44284,36215,26761,21330,18735,24812
355,2016,Nassau County,36365,39062,41912,44121,42550,38403,37708,39946,43017,50264,55165,53346,45245,37768,27549,21276,18228,25085
356,2017,Nassau County,36162,39068,41556,43372,42890,38649,38052,40263,41823,49113,54032,53783,45883,39415,28231,21266,18019,25302
357,2018,Nassau County,36198,38918,41491,42566,42788,38955,38487,40646,41355,47557,52839,53476,46920,39190,30259,21911,17755,25310
358,2019,Nassau County,36261,38899,41364,41819,42258,39630,38769,41189,41309,46054,51397,52995,47885,39530,31098,22928,17779,25129
359,2020,Nassau County,36183,38966,40849,41548,41545,40127,38678,41322,41525,44538,49742,52845,48418,40222,32320,23610,17793,24952

In [11]:
# nassau total
nassau_total = nassau[['YEAR', 'CTYNAME', 'AGE04_TOT', 'AGE59_TOT',
                      'AGE1014_TOT', 'AGE1519_TOT', 'AGE2024_TOT',
                      'AGE2529_TOT', 'AGE3034_TOT', 'AGE3539_TOT', 
                      'AGE4044_TOT', 'AGE4549_TOT', 'AGE5054_TOT',
                      'AGE5559_TOT', 'AGE6064_TOT', 'AGE6569_TOT',
                      'AGE7074_TOT', 'AGE7579_TOT', 'AGE8084_TOT',
                      'AGE85PLUS_TOT']]
nassau_total.head(11)

,YEAR,CTYNAME,AGE04_TOT,AGE59_TOT,AGE1014_TOT,AGE1519_TOT,AGE2024_TOT,AGE2529_TOT,AGE3034_TOT,AGE3539_TOT,AGE4044_TOT,AGE4549_TOT,AGE5054_TOT,AGE5559_TOT,AGE6064_TOT,AGE6569_TOT,AGE7074_TOT,AGE7579_TOT,AGE8084_TOT,AGE85PLUS_TOT
349,2010,Nassau County,73899,83418,93639,94098,79398,71258,71330,80603,97077,109958,108082,93433,78942,55597,42735,37950,34391,34072
350,2011,Nassau County,74132,83212,93281,94499,79656,71907,71637,80096,96548,109570,108364,93846,79646,56091,42740,37683,34320,34441
351,2012,Nassau County,73994,82413,91695,95562,80954,73587,72604,77815,94632,107315,109467,95418,83258,58166,43072,37075,33722,35474
352,2013,Nassau County,73896,81925,90006,95589,81853,75357,73498,76953,91921,105133,109032,97915,82761,63313,44289,36750,33003,36422
353,2014,Nassau County,73638,81430,88785,94045,83916,76973,74421,77053,89270,102029,108553,99919,83655,65844,46774,36817,31962,37109
354,2015,Nassau County,74361,80278,87842,92351,86053,77702,75358,77601,86524,98826,108264,101474,85031,68905,48455,36845,30946,37889
355,2016,Nassau County,74449,79860,86372,90573,86910,78621,75159,78520,83904,96685,106463,103120,86800,71795,50040,37055,30097,38417
356,2017,Nassau County,74173,79951,85512,89134,87266,79227,76093,79345,81796,94870,104187,103856,88141,74911,51699,37221,29794,38776
357,2018,Nassau County,74238,80034,85125,87500,87302,79651,77046,80233,81210,92346,101958,103357,90248,74422,55905,38448,29553,38717
358,2019,Nassau County,74390,79883,84595,86277,85813,81218,77366,81245,81692,89727,99081,102578,92070,74921,58097,40347,29709,38525
359,2020,Nassau County,74099,80166,83955,85407,84327,82263,77683,81657,82175,87200,96033,102220,93049,76248,60569,41661,29790,38422

In [12]:
# separating suffolk male
suffolk_male = suffolk[['YEAR', 'CTYNAME', 'AGE04_MALE', 'AGE59_MALE',
                      'AGE1014_MALE', 'AGE1519_MALE', 'AGE2024_MALE',
                      'AGE2529_MALE', 'AGE3034_MALE', 'AGE3539_MALE', 
                      'AGE4044_MALE', 'AGE4549_MALE', 'AGE5054_MALE',
                      'AGE5559_MALE', 'AGE6064_MALE', 'AGE6569_MALE',
                      'AGE7074_MALE', 'AGE7579_MALE', 'AGE8084_MALE',
                      'AGE85PLUS_MALE']]
suffolk_male.head(11)

,YEAR,CTYNAME,AGE04_MALE,AGE59_MALE,AGE1014_MALE,AGE1519_MALE,AGE2024_MALE,AGE2529_MALE,AGE3034_MALE,AGE3539_MALE,AGE4044_MALE,AGE4549_MALE,AGE5054_MALE,AGE5559_MALE,AGE6064_MALE,AGE6569_MALE,AGE7074_MALE,AGE7579_MALE,AGE8084_MALE,AGE85PLUS_MALE
613,2010,Suffolk County,44072,50130,54507,55944,47324,41992,42488,47247,57567,63418,58180,46467,39344,28895,20428,15950,11792,8812
614,2011,Suffolk County,44062,49887,54265,55884,47662,42223,42527,46852,57121,63275,58573,46886,39658,29083,20568,15890,11868,8942
615,2012,Suffolk County,43428,49299,53544,55734,48968,42823,42510,45214,55644,62246,60263,48559,41160,29892,21173,15867,12103,9316
616,2013,Suffolk County,42484,48388,52591,54988,49588,43306,42340,44136,53645,60909,60991,50285,40712,32432,22157,15984,12271,9838
617,2014,Suffolk County,41999,47263,51616,54084,50764,44153,42192,43842,51528,59394,61371,52266,41117,33344,23578,16356,12217,10333
618,2015,Suffolk County,41598,45619,51048,53167,51291,45138,42096,43404,49336,57395,61725,54039,41915,34570,24537,16778,12145,10756
619,2016,Suffolk County,41109,44721,49918,52265,50766,46014,41823,43097,47073,55940,61288,55581,43387,35664,25409,17032,12134,11194
620,2017,Suffolk County,40559,43620,49018,51358,50218,46578,41680,43202,45167,54290,60072,56907,44724,36824,25958,17647,12107,11633
621,2018,Suffolk County,40239,42889,48100,50638,49890,47197,42049,43172,44242,52353,58728,57636,46150,36366,28042,18450,12169,11943
622,2019,Suffolk County,40290,42258,47073,49713,49159,47926,42615,43189,43979,50291,57165,57925,47747,36498,28888,19638,12489,12198
623,2020,Suffolk County,40261,41906,45497,49260,48354,48303,43310,42907,43773,48347,55180,58145,49291,37030,29825,20353,12838,12355

In [13]:
# separating suffolk female
suffolk_female = suffolk[['YEAR', 'CTYNAME', 'AGE04_FEM', 'AGE59_FEM',
                      'AGE1014_FEM', 'AGE1519_FEM', 'AGE2024_FEM',
                      'AGE2529_FEM', 'AGE3034_FEM', 'AGE3539_FEM', 
                      'AGE4044_FEM', 'AGE4549_FEM', 'AGE5054_FEM',
                      'AGE5559_FEM', 'AGE6064_FEM', 'AGE6569_FEM',
                      'AGE7074_FEM', 'AGE7579_FEM', 'AGE8084_FEM',
                      'AGE85PLUS_FEM']]
suffolk_female.head(11)

,YEAR,CTYNAME,AGE04_FEM,AGE59_FEM,AGE1014_FEM,AGE1519_FEM,AGE2024_FEM,AGE2529_FEM,AGE3034_FEM,AGE3539_FEM,AGE4044_FEM,AGE4549_FEM,AGE5054_FEM,AGE5559_FEM,AGE6064_FEM,AGE6569_FEM,AGE7074_FEM,AGE7579_FEM,AGE8084_FEM,AGE85PLUS_FEM
613,2010,Suffolk County,41896,47677,51835,51030,43030,39669,42512,49191,59308,65013,59127,48463,43928,33750,24900,20838,17379,19013
614,2011,Suffolk County,41929,47397,51659,51102,43399,39790,42487,48613,58942,64907,59529,48820,44138,33982,25038,20783,17424,19174
615,2012,Suffolk County,41266,46511,51236,51260,44953,40051,42227,46264,57813,64089,61286,50388,45274,34898,25742,20793,17455,19643
616,2013,Suffolk County,40849,45349,50314,50962,45706,40226,41453,44879,55700,63095,61968,52199,44023,37647,26955,20868,17463,20281
617,2014,Suffolk County,40076,44480,49541,50243,46990,40800,41019,44232,53388,61632,62743,53909,44350,38493,28744,21114,17503,20672
618,2015,Suffolk County,40047,43342,48750,49481,47923,41369,40748,43543,50927,59655,63316,55353,45065,39465,29897,21629,17367,21091
619,2016,Suffolk County,40015,42188,47680,48964,48123,42267,40287,43203,48580,57763,62952,57181,45935,40555,30893,22174,17157,21635
620,2017,Suffolk County,39507,41599,46460,48325,48010,42794,40038,42922,46038,56459,61782,58505,47276,41428,31547,22831,17177,22146
621,2018,Suffolk County,39002,41221,45371,47699,48032,43299,40388,42432,44678,54532,60747,59155,48773,40417,33799,23737,17326,22497
622,2019,Suffolk County,39118,40566,44538,46974,47411,44242,40697,42242,44095,52301,59163,59605,50159,40636,34375,25352,17559,22756
623,2020,Suffolk County,38878,40632,43334,46215,46666,44850,41197,42107,43705,49907,57340,59818,51477,41209,35252,26293,17970,22816

In [14]:
# suffolk total
suffolk_total = suffolk[['YEAR', 'CTYNAME', 'AGE04_TOT', 'AGE59_TOT',
                      'AGE1014_TOT', 'AGE1519_TOT', 'AGE2024_TOT',
                      'AGE2529_TOT', 'AGE3034_TOT', 'AGE3539_TOT', 
                      'AGE4044_TOT', 'AGE4549_TOT', 'AGE5054_TOT',
                      'AGE5559_TOT', 'AGE6064_TOT', 'AGE6569_TOT',
                      'AGE7074_TOT', 'AGE7579_TOT', 'AGE8084_TOT',
                      'AGE85PLUS_TOT']]
suffolk_total.head(11)

,YEAR,CTYNAME,AGE04_TOT,AGE59_TOT,AGE1014_TOT,AGE1519_TOT,AGE2024_TOT,AGE2529_TOT,AGE3034_TOT,AGE3539_TOT,AGE4044_TOT,AGE4549_TOT,AGE5054_TOT,AGE5559_TOT,AGE6064_TOT,AGE6569_TOT,AGE7074_TOT,AGE7579_TOT,AGE8084_TOT,AGE85PLUS_TOT
613,2010,Suffolk County,85968,97807,106342,106974,90354,81661,85000,96438,116875,128431,117307,94930,83272,62645,45328,36788,29171,27825
614,2011,Suffolk County,85991,97284,105924,106986,91061,82013,85014,95465,116063,128182,118102,95706,83796,63065,45606,36673,29292,28116
615,2012,Suffolk County,84694,95810,104780,106994,93921,82874,84737,91478,113457,126335,121549,98947,86434,64790,46915,36660,29558,28959
616,2013,Suffolk County,83333,93737,102905,105950,95294,83532,83793,89015,109345,124004,122959,102484,84735,70079,49112,36852,29734,30119
617,2014,Suffolk County,82075,91743,101157,104327,97754,84953,83211,88074,104916,121026,124114,106175,85467,71837,52322,37470,29720,31005
618,2015,Suffolk County,81645,88961,99798,102648,99214,86507,82844,86947,100263,117050,125041,109392,86980,74035,54434,38407,29512,31847
619,2016,Suffolk County,81124,86909,97598,101229,98889,88281,82110,86300,95653,113703,124240,112762,89322,76219,56302,39206,29291,32829
620,2017,Suffolk County,80066,85219,95478,99683,98228,89372,81718,86124,91205,110749,121854,115412,92000,78252,57505,40478,29284,33779
621,2018,Suffolk County,79241,84110,93471,98337,97922,90496,82437,85604,88920,106885,119475,116791,94923,76783,61841,42187,29495,34440
622,2019,Suffolk County,79408,82824,91611,96687,96570,92168,83312,85431,88074,102592,116328,117530,97906,77134,63263,44990,30048,34954
623,2020,Suffolk County,79139,82538,88831,95475,95020,93153,84507,85014,87478,98254,112520,117963,100768,78239,65077,46646,30808,35171